<div class="paginas">
  <h1 id="titulo-paginas">ADICIONAR</h1>

  <p id="nome-input">Nome do trabalho</p>       
  <div class="input-group input-group-lg">
      <input id="entradas" type="text" class="form-control" aria-describedby="sizing-addon1">
  </div>

  <p id="link-input">Link da imagem</p> 
  <div class="input-group input-group-lg">
      <input id="entradas" type="text" class="form-control" aria-describedby="sizing-addon1">
  </div>
</div>   

<a class="btn btn-default" id="botao-adicionar" href="#" role="button">Adicionar</a>