<div class="sub-header">
  <img class="image-header" src="./assets/background.jpg" alt="imagem">
  
  <div class="texto-menu">
    <img class="banner" src="./assets/logotipo.png" alt="banner">
    <p id="paragrafo">Esse é meu primeiro projeto de front-end basico envolvendo HTML, CSS e Bootstrap. Meu nome é Lucas Farias, estou cursando sistemas de informação na Unifacisa.</p>
    <a class="btn btn-default" id="botao" href="./portfolio.html" role="button">PORTFOLIO</a>
  </div>      
</div>

<div class="sociais">
  <h3 id="subtitulo-paginas">Minhas Redes Sociais</h3>
    <div class="logos-sociais">
    <div class="row">
      <a href="https://www.facebook.com/lucas.barbosa.12"><img class="col-md-3" src="./assets/facebook.svg" alt="social"></a>
      <img class="col-md-3" src="./assets/linked.svg" alt="social">
      <img class="col-md-3" src="./assets/google.svg" alt="social">
    </div>
  </div>
</div>    

<div class="timeline">
    <h3 id="subtitulo-paginas">Ultimo trabalho adicionado</h3> 
  <div class="trabalhos">
    <img class="imagem-trabalho" src="./assets/fundosemnome.jpg" alt="ninjajump">
  </div>
</div>